{% extends 'layout/layout_guest.html' %}
{% load static %}

{% block content %}

<style>
    .form-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
      z-index: 1000;
    }

    .form-container form{
      margin-right: 50px;
    }

</style>


<div class="form-container">
  <div class="logo">
    <img src="{% static 'img/logo.png' %}" class="d-block w-100" alt="logo">
  </div>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="login-username" class="form-label">Username</label>
      {{ form.username }}
    </div>

    <div>
      <label for="login-password" class="form-label mt-3">Password</label>
      {{ form.password }}
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <button type="submit" class="btn btn-primary mb-3 mt-3">Log in</button>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <label>Don't have an account?</label>
      <a href="/signup/" class="icon-link justify-content-center">
        Sign up
      </a>
    </div>
  </form>
</div>


{% endblock %}